a:hover{
    cursor: pointer;
}

.grid-container main{
    text-align: center;
}

hr{
    border: solid lightgray 2px;
    background-color: lightgray;
    margin: 15px 0 1em;
}

th {
    width: 500px;
}

th, td{
    font-size: 16px;
}

.container_principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.tela_pacientes{
    background-color: white;
    padding: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#btnSair{
    font-weight: 800;
    font-size: 18px;
}

.campo_pesquisa{
    position: relative;
    top: 0;
    left: 75%;
}


.tituloModal{
    font-family: Arial;
    color: rgb(39, 36, 36);
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.close {
    margin-left: 100%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
}

.formModal{
    width: 800px;
    height: 650px;
    border-radius: 2%;
    background-color: white;
    padding: 10px 40px;
}

.container_form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#nome{
    margin-right: 50px;
}

#cadastrar_vacina, #visualizar_vacina, #editar_qtd_vacina{
    margin-left: 25%;
}


.formModal_qtd{
    width: 800px;
    height: 450px;
    border-radius: 2%;
    background-color: white;
    padding: 10px 40px;
}
