*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

.grid-container {
    display: grid;
    grid-template-areas:
	'header header header header header header'
	'main main main main main'
	'footer footer footer footer footer footer';
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 30px;
    padding-top: 10px;
}

.container-rodape{
    font-size: 17px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
    background: linear-gradient(to left, #eae9d5, #0059a7d6);
}

.icones{
    margin-left: 5px;
    color: black;
}

.insta{
    font-size: 25px;
}

.email{
    font-size: 30px;
}

.grid-container header, .grid-container main{
    background: linear-gradient(to left, #eae9d5, #0059a7d6);
}

.conteudo{
    display: flex;
    justify-content: center;
    min-height: 89.4vh;
}

#toast_principal{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5000;
}