.conteudo{
	align-items: center;
}

.tela_usuario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	padding: 50px;
	border-radius: 5px;
	margin-top: -100px;
}

a{
	text-decoration: none;
}


#toastSucesso{
	position: absolute;
	top: 10px;
	right: 10px;
}

#btnSair{
	visibility: hidden;
}