*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

.grid-container {
    display: grid;
    grid-template-areas:
	'header header header header header header'
	'main main main main main'
	'footer footer footer footer footer footer';
}

.cabecalho{
    display: flex;
    justify-content: center;
    box-shadow: 0px 30px 20px -30px rgba(0,0,0,0.63);
    padding: 10px;
}

.titulo{
    font-size: 30px;
}

.container-rodape{
    font-size: 17px;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
}

.icones{
    margin-left: 5px;
    color: black;
}

.insta{
    font-size: 25px;
}

.email{
    font-size: 30px;
}

#btnSair{
    font-weight: 800;
    font-size: 18px;
}