<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Control</title>
    <meta name="author" content="Lucas Deister" />
    <link href="/css/style_frag.css" rel="stylesheet">
    <link href="/css/style_lista_paciente.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascript/datepicker-pt-br.js"></script>
</head>
<body>
<div class="grid-container">
    <div th:insert="~{fragmentos/frag :: cabecalho}"></div>
    <section id="myModal" class="modal">
        <div class="container_form">
            <form class="formModal" id="formCadastrarPacientes" th:action="@{/inserirPacientes}" method="post" th:object="${paciente}">
                <span class="close" onclick="fecharModalCriacao()">&times;</span>
                <h3 class="tituloModal mb-5">Cadastrar paciente</h3>
                <label for="nome">Nome:</label>
                <input class="form-control mb-4 campo_nome" id="nome" placeholder="Nome" type="text" th:field="*{nome}">
                <label for="cpf">CPF:</label>
                <input class="form-control mb-4" id="cpf" placeholder="CPF" type="text" onchange="inserirMascaraCpf(this.value)" th:field="*{cpf}">
                <label for="idade">Idade:</label>
                <input class="form-control mb-4 campo_idade" id="idade" placeholder="Idade" type="number" th:field="*{idade}">
                <label>Sexo:</label>
                <div class="form-check-inline mb-4">
                    <input class="form-check-input" type="radio" name="sexo" id="masculino" value="m" th:field="*{sexo}">
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="feminino" value="f">
                    <label class="form-check-label" for="feminino">Feminino</label>
                </div><br>
                <label for="email">Email:</label>
                <input class="form-control mb-4 campo_email" id="email" placeholder="Email" type="email" th:field="*{email}">
                <label for="telefone">Telefone:</label>
                <input class="form-control mb-4 campo_telefone" id="telefone" placeholder="Telefone" type="text" th:field="*{telefone}">
                <button type="submit" id="cadastrar_paciente" name="cadastrar" class="btn btn-outline-success w-50">Cadastrar</button>
            </form>
        </div>
    </section>
    <section id="myModalEdicao" class="modal">
        <div class="container_form">
                <form class="formModal" id="formEditarPacientes" action="/alterar" method="post" th:object="${paciente}">
                <span class="close" onclick="fecharModalEdicao()">&times;</span>
                <h3 class="tituloModal mb-5">Editar paciente</h3>
                <input type="hidden" id="id_paciente" name="id" th:value="*{id}">
                <label for="nome_edicao">Nome:</label>
                <input class="form-control mb-4 campo_nome" id="nome_edicao" placeholder="Nome" type="text" th:field="*{nome}">
                <label for="cpf_edicao">CPF:</label>
                <input class="form-control mb-4" id="cpf_edicao" placeholder="CPF" type="text" th:field="*{cpf}" readonly>
                <label for="idade_edicao">Idade:</label>
                <input class="form-control mb-4 campo_idade" id="idade_edicao" placeholder="Idade" type="number" th:field="*{idade}">
                <label>Sexo:</label>
                <div class="form-check-inline mb-4">
                    <input class="form-check-input" type="radio" name="sexo" id="masculino_edicao" value="m" th:field="*{sexo}" th:value="m">
                    <label class="form-check-label" for="masculino_edicao">Masculino</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="feminino_edicao" value="f" th:value="f">
                    <label class="form-check-label" for="feminino_edicao">Feminino</label>
                </div><br>
                <label for="email_edicao">E-mail:</label>
                <input class="form-control mb-4 campo_email" id="email_edicao" placeholder="Email" type="email" th:field="*{email}">
                <label for="telefone_edicao">Telefone:</label>
                <input class="form-control mb-4 campo_telefone" id="telefone_edicao" placeholder="Telefone" type="text" th:field="*{telefone}">
                <button type="submit" id="editar_paciente" name="editar" class="btn btn-outline-success w-50">Gravar</button>
            </form>
        </div>
    </section>
    <section id="myModalAplicarVacina" class="modal">
        <div class="container_form">
            <form class="formModal" id="formAplicarVacina" th:action="@{/inserirAssociacao}" method="post">
                <span class="close" onclick="fecharModalAplicarVacina()">&times;</span>
                <h3 class="tituloModal mb-5">Aplicar vacina</h3>
                <input type="hidden" id="id_paciente_aplicar_vacina" name="id_paciente_aplicar_vacina">
                <label for="nome_aplicar_vacina">Nome:</label>
                <input class="form-control mb-4 campo_nome" id="nome_aplicar_vacina" type="text" readonly>
                <label for="vacina">Vacina:</label>
                <select class="form-select mb-4" aria-label="Selecione a vacina" id="vacina" name="vacina">
                    <option selected>Selecione a vacina</option>
                    <option th:each="vacina : ${vacinaList}" th:value="${vacina.id}" th:text="${vacina.nome}"></option>
                </select>
                <label for="doses_aplicadas">Doses aplicadas:</label>
                <input class="form-control mb-4" name="doses_aplicadas" id="doses_aplicadas" type="number" readonly>
                <label for="doses_restantes">Doses necessárias:</label>
                <input class="form-control mb-4" id="doses_restantes" name="doses_restantes" type="number" readonly>
                <label for="data_ultima_dose">Data da aplicação:</label>
                <input type="text" id="data_ultima_dose" name="data_ultima_dose" class="form-control mb-4" value="" readonly>
                <label for="data_prox_dose">Data da próxima dose:</label>
                <input type="text" id="data_prox_dose" name="data_prox_dose" class="form-control mb-4" onchange="validarDataProximaDose(this.value)" readonly>
                <button type="submit" id="vacinar_paciente" name="vacinar" class="btn btn-outline-success w-50">Vacinar</button>
            </form>
        </div>
    </section>
   <main class="conteudo">
        <div class="container_principal">
            <form class="tela_pacientes">
                <h3 class="">Listagem de Pacientes</h3>
                <hr class="mt-4">
                <div class="container-fluid">
                    <a id="btnCadastrarPaciente" class="btn btn-outline-success me-3 mb-3 text-dark" onclick="exibirModalCriacao()">Cadastrar paciente</a>
                    <a id="btnGerenciarVacinas" class="btn btn-outline-info me-3 mb-3 text-dark" th:href="@{/listaVacinas.html}">Gerenciar vacinas</a>
                </div>
                <div class="input-group campo_pesquisa mt-2 w-25 text-center">
                    <input type="search" id="btn_search" class="form-control" placeholder="Pesquisar..."/>
                    <label class="form-label" for="btn_search"></label>
                   <button type="button" class="btn btn-primary"><i class='bx bx-search-alt-2' ></i></button>
                </div>
                <table class="table table-bordered table-striped table-hover table-borderless align-middle mt-2">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th colspan="4">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pacientes : ${pacienteList}">
                            <td th:text="${pacientes.nome}"></td>
                            <td th:text="${pacientes.cpf}"></td>
                            <td>
                                <a th:onclick="|exibirModalAplicarVacina('${pacientes.id}')|" class="btn btn-outline-success btn-lg text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Aplicar vacina">
                                    <i class='bx bx-injection'></i>
                                </a>
                                <a th:href="@{gerarRelatorio/{id}(id=${paciente.id})}" class="btn btn-outline-primary btn-lg text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Gerar relatório">
                                    <i class='bx bxs-report'></i>
                                </a>
                               <a th:onclick="|exibirModalEdicao('${pacientes.id}')|"  class="btn btn-outline-info btn-lg text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                   <i class="bx bx-edit"></i>
                                </a>
                                <a th:onclick="|excluirPaciente('${pacientes.id}')|" class="btn btn-outline-danger btn-lg text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir">
                                    <i class="bx bx-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <div th:insert="~{fragmentos/frag :: rodape}"></div>
</div>
</body>
<script type="text/javascript" src="/javascript/toast.js"></script>
<script type="text/javascript" src="/javascript/lista_paciente.js"></script>
</html>